src/test/it/tita/src/test/resources/sftp-reconnection-with-id-file-app.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:os="http://www.mulesoft.org/schema/mule/os"
      xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
        http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
        http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">

    <configuration-properties file="${applicationsConfigProperties}"/>

    <api-gateway:autodiscovery apiId="${api1}" flowRef="get-sftp-polled-files"/>
    <api-gateway:autodiscovery apiId="${api2}" flowRef="write-file-to-sftp"/>
    <api-gateway:autodiscovery apiId="${api3}" flowRef="clear-os"/>

    <os:object-store name="sftp-os" persistent="false" />

    <http:listener-config name="localListenerConfig">
        <http:listener-connection host="localhost" port="${port}" protocol="HTTP"/>
    </http:listener-config>


    <sftp:config name="sftp-config">
        <sftp:connection username="mule" password="test" host="127.0.0.1" port="${sftp.listener.port}"
                         workingDir="/app" prngAlgorithm="SHA1PRNG" identityFile="id_ed25519" passphrase="mulesoft">
            <reconnection >
                <reconnect-forever />
            </reconnection>
        </sftp:connection>
    </sftp:config>


    <flow name="sftp-poll-flow">
        <sftp:listener config-ref="sftp-config" directory="/app" watermarkEnabled="false" >
            <ee:repeatable-file-store-stream inMemorySize="1000" />
            <scheduling-strategy>
                <fixed-frequency frequency="500" />
            </scheduling-strategy>
        </sftp:listener>

        <flow-ref name="os-store" />
        <logger level="ERROR" message="#[payload]"/>
    </flow>

    <flow name="os-store" maxConcurrency="1">
        <os:store key="#[attributes.fileName]" objectStore="sftp-os"/>
    </flow>

    <flow name="get-sftp-polled-files">
        <http:listener config-ref="localListenerConfig" path="/sftp/files/{fileName}" allowedMethods="GET"/>
        <try>
            <os:retrieve key="#[attributes.uriParams.fileName ++ '.json']" objectStore="sftp-os" />
            <set-payload value="#[output application/json --- payload]"/>

            <error-handler>
                <on-error-continue>
                    <set-payload value="#[output application/json --- {}]"/>
                </on-error-continue>
            </error-handler>
        </try>
    </flow>

    <flow name="write-file-to-sftp">
        <http:listener config-ref="localListenerConfig" path="/sftp/files/{fileName}" allowedMethods="POST" />

        <logger level="INFO" message="WRITING SFTP FILE!!!" />
        <logger level="INFO" message="#[payload]" />
        <sftp:write path="#[attributes.uriParams.fileName ++ '.json']" config-ref="sftp-config">
            <sftp:content>#[payload]</sftp:content>
        </sftp:write>
    </flow>

    <flow name="clear-os">
        <http:listener config-ref="localListenerConfig" path="/os/files" allowedMethods="PUT" />
        <logger level="DEBUG" message="CLEARING OBJECT STORE!!!" />
        <os:clear objectStore="sftp-os"/>
    </flow>

</mule>