src/test/resources/sftp-metadata-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd">

    <import file="sftp-connection.xml"/>

    <flow name="read">
        <sftp:read config-ref="config" path="#[vars.path]"/>
    </flow>

    <flow name="list">
        <sftp:list config-ref="config" directoryPath="#[vars.path]" recursive="#[vars.recursive]" />
    </flow>

</mule>
