src/test/resources/sftp-delete-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd">

    <import file="sftp-connection.xml"/>

    <flow name="delete">
        <sftp:delete config-ref="config" path="#[vars.delete]" />
    </flow>

    <flow name="readAndDelete">
        <sftp:read config-ref="config" path="#[vars.delete]" />
        <sftp:delete config-ref="config" path="#[vars.delete]" />
    </flow>
</mule>
