src/test/resources/sftp-read-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
        http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd">

    <import file="sftp-connection.xml"/>

    <flow name="read">
        <choice>
            <when expression="#[vars.streaming]">
                <sftp:read config-ref="config" path="#[vars.path]"/>
                <object-to-string-transformer />
            </when>
            <otherwise>
                <sftp:read config-ref="config" path="#[vars.path]">
                    <non-repeatable-stream />
                </sftp:read>
            </otherwise>
        </choice>
    </flow>

    <flow name="readWithLock">
        <sftp:read config-ref="config" path="#[vars.readPath]" lock="true">
            <non-repeatable-stream />
        </sftp:read>
        <custom-processor class="org.mule.extension.sftp.StreamCloserTestMessageProcessor"/>
    </flow>

    <flow name="readWithForcedMimeType">
        <sftp:read config-ref="config" path="#[vars.path]" outputMimeType="test/test"/>
        <object-to-string-transformer />
    </flow>

    <flow name="readFileThatIsDeleted">
        <sftp:read config-ref="config" path="#[vars.path]"/>
        <sftp:delete config-ref="config" path="#[vars.path]"/>
        <object-to-string-transformer />
    </flow>

</mule>
