src/test/resources/sftp-rename-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd">

    <import file="sftp-read-config.xml"/>

    <flow name="rename">
        <sftp:rename config-ref="config" path="#[vars.path]" to="#[vars.to]" overwrite="#[vars.overwrite]"/>
    </flow>

    <flow name="readAndRename">
        <sftp:read config-ref="config" path="#[vars.path]" />
        <sftp:rename config-ref="config" path="#[vars.path]" to="#[vars.to]"/>
    </flow>

</mule>
