src/test/resources/sftp-reconnection-app.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:os="http://www.mulesoft.org/schema/mule/os"
      xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
        http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
        http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">

    <configuration-properties file="${applicationsConfigProperties}"/>

    <api-gateway:autodiscovery apiId="${api1}" flowRef="get-sftp-polled-files"/>
    <api-gateway:autodiscovery apiId="${api2}" flowRef="write-file-to-sftp"/>

    <os:object-store name="sftp-os" persistent="false" />

    <http:listener-config name="localListenerConfig">
        <http:listener-connection host="localhost" port="${port}" protocol="HTTP"/>
    </http:listener-config>


    <sftp:config name="sftp-config">
        <sftp:connection username="mule" password="test" host="localhost" port="${sftp.port}"
                         workingDir="/app" prngAlgorithm="SHA1PRNG">
            <reconnection>
                <reconnect count="20" frequency="1000"/>
            </reconnection>
        </sftp:connection>
    </sftp:config>

    <flow name="sftp-poll-flow">
        <sftp:listener config-ref="sftp-config" directory="/app" watermarkEnabled="true">
            <scheduling-strategy>
                <fixed-frequency frequency="500"/>
            </scheduling-strategy>
        </sftp:listener>
        <logger level="ERROR" message="#[payload]"/>

        <os:store key="#[attributes.fileName]" objectStore="sftp-os"/>
    </flow>

    <flow name="get-sftp-polled-files">
        <http:listener config-ref="localListenerConfig" path="/sftp/files/{fileName}" allowedMethods="GET"/>

        <os:retrieve key="#[attributes.uriParams.fileName ++ '.json']" objectStore="sftp-os" />
        <set-payload value="#[output application/json --- payload]"/>
    </flow>


    <flow name="write-file-to-sftp">
        <http:listener config-ref="localListenerConfig" path="/sftp/files/{fileName}" allowedMethods="POST" />

        <logger level="ERROR" message="WRITING SFTP FILE!!!" />
        <logger level="ERROR" message="#[payload]" />

        <sftp:write path="#['/app/' ++ attributes.uriParams.fileName ++ '.json']" config-ref="sftp-config">
            <sftp:content>#[payload]</sftp:content>
        </sftp:write>
    </flow>
</mule>