src/test/resources/sftp-directory-listener-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
        http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd">

    <import file="sftp-connection.xml"/>

    <sftp:matcher name="matcher" filenamePattern="matchme.txt" />

    <flow name="listenWithoutMatcher">
        <sftp:listener config-ref="config" directory="matcherless" pollingFrequency="1"/>
        <flow-ref name="onEvent"/>
    </flow>

    <flow name="redundantListener1">
        <sftp:listener config-ref="config" directory="shared" autoDelete="true" pollingFrequency="1"/>
        <flow-ref name="onSharedFolderFile" />
    </flow>

    <flow name="redundantListener2">
        <sftp:listener config-ref="config" directory="shared" autoDelete="true" pollingFrequency="1"/>
        <flow-ref name="onSharedFolderFile" />
    </flow>

    <flow name="listenTxtOnly">
        <sftp:listener config-ref="config" directory="withMatcher" matcher="matcher" autoDelete="true" pollingFrequency="1"/>
        <set-payload value="Dr. Manhattan" />
        <flow-ref name="onEvent"/>
    </flow>

    <flow name="moveTo" initialState="stopped">
        <sftp:listener config-ref="config" directory="matcherless" moveToDirectory="#[vars.moveTo]" pollingFrequency="1"/>
        <set-variable variableName="moveTo" value="shared" />
        <flow-ref name="onEvent"/>
    </flow>

    <flow name="moveToWithRename" initialState="stopped">
        <sftp:listener config-ref="config" directory="matcherless" moveToDirectory="#[vars.moveTo]" renameTo="#[vars.rename]" pollingFrequency="1"/>
        <set-variable variableName="moveTo" value="shared" />
        <set-variable variableName="rename" value="renamed.txt" />
        <flow-ref name="onEvent"/>
    </flow>

    <flow name="modifiedWatermark" initialState="stopped">
        <sftp:listener config-ref="config" directory="matcherless" autoDelete="false" watermarkEnabled="true" pollingFrequency="3"/>
        <flow-ref name="onEvent"/>
    </flow>

    <sub-flow name="onEvent">
        <object-to-string-transformer />
        <test:processor class="org.mule.extension.sftp.SftpDirectoryListenerFunctionalTestCase$TestProcessor"/>
    </sub-flow>
    
    <sub-flow name="onSharedFolderFile">
        <test:processor waitTime="1000" />
        <flow-ref name="onEvent" />
    </sub-flow>
</mule>
