src/test/resources/sftp-proxy-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd">

    <sftp:config name="sftp">
        <!-- Use an invalid port so that it fails if not using the proxy -->
        <sftp:connection username="muletest1" password="muletest1" host="127.0.0.100" port="${SFTP_PORT}" workingDir="${workingDir}" prngAlgorithm="SHA1PRNG">
            <sftp:sftp-proxy-config host="localhost" port="${proxyPort}" protocol="HTTP"/>
        </sftp:connection>
    </sftp:config>

    <flow name="sftpRead">
        <sftp:read config-ref="sftp" path="#[vars.readPath]"/>
    </flow>
</mule>
