src/test/munit/configurations.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
      xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp"
      xmlns:java="http://www.mulesoft.org/schema/mule/java"
      xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
		http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd
        http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
        http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">

    <sftp:config name="config">
        <sftp:connection username="muletest1" password="muletest1" host="localhost" port="${sftp.server.port}"
                         workingDir="/" prngAlgorithm="SHA1PRNG">
            <pooling-profile exhaustedAction="WHEN_EXHAUSTED_WAIT" maxActive="7" maxIdle="3" maxWait="5000"/>
        </sftp:connection>
    </sftp:config>

    <sftp:config name="config1">
        <sftp:connection username="foo" password="pass" host="localhost" port="22222"
                         workingDir="/upload" prngAlgorithm="SHA1PRNG">
        </sftp:connection>
    </sftp:config>

    <flow name="wait-2-seconds">
        <logger level="WARN" message="#[%dw 2.0 import * from dw::Runtime output application/json
                            ---
                            'Waiting for 2 seconds' wait 2000]"/>
    </flow>

    <flow name="modify-file">
        <set-payload value="Content to append"/>
        <sftp:write config-ref="config" path="random.txt" mode="APPEND"/>
    </flow>

    <flow name="write-file">
        <set-payload value="File Content"/>
        <sftp:write config-ref="config" path="random.txt"/>
        <logger level="WARN" message="File Written"/>
    </flow>

    <flow name="delete-file">
        <sftp:delete config-ref="config" path="random.txt"/>
        <logger level="WARN" message="File Deleted"/>
    </flow>

</mule>