src/test/munit/delete-test-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd

		http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd

        http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd">

    <munit:config name="sftp-delete-test-case.xml">
        <munit:parameterizations>
            <munit:parameterization name="config-docker-with-home-directory">
                <munit:parameters>
                    <munit:parameter propertyName="config" value="config-docker-with-home-directory"/>
                </munit:parameters>
            </munit:parameterization>
            <munit:parameterization name="config-docker-without-home-directory">
                <munit:parameters>
                    <munit:parameter propertyName="config" value="config-docker-without-home-directory"/>
                </munit:parameters>
            </munit:parameterization>
        </munit:parameterizations>
    </munit:config>

    <munit:test name="sftp-write-deleted-file" description="Use the list operation to get the file content and try to write it but it was deleted before and should expect exception"
                expectedErrorType="SFTP:FILE_DOESNT_EXIST">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="delete-created-files"/>
        </munit:enable-flow-sources>
        <munit:behavior>
            <set-variable variableName="fileName" value="test/will-be-deleted.txt"/>
            <sftp:write config-ref="${config}" path='#[vars.fileName]' >
                <sftp:content>test content</sftp:content>
            </sftp:write>
        </munit:behavior>
        <munit:execution>
            <sftp:list config-ref="${config}" directoryPath="test">
            </sftp:list>
            <flow-ref name="wait-2-seconds"/>
            <foreach collection="#[payload]">
                <sftp:write config-ref="${config}" path="test/copy-of-will-be-deleted.txt" createParentDirectories="false" >
                </sftp:write>
            </foreach>
        </munit:execution>
    </munit:test>


    <flow name="delete-created-files">
        <sftp:listener config-ref="${config}" directory="test">
            <scheduling-strategy>
                <fixed-frequency startDelay="2000"/>
            </scheduling-strategy>
        </sftp:listener>
        <sftp:delete config-ref="${config}" path="#[attributes.path]" />
    </flow>
</mule>
