src/test/munit/sftp-directory-listener-on-connection-exception.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
      xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:connection-test="http://www.mulesoft.org/schema/mule/connection-test"
      xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp"
      xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
		http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd
        http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
        http://www.mulesoft.org/schema/mule/connection-test http://www.mulesoft.org/schema/mule/connection-test/current/mule-connection-test.xsd">

    <munit:config name="sftp-directory-listener-on-connection-exception.xml" />

    <munit:dynamic-port propertyName="sftp.server.port"/>

    <munit:before-suite name="startDirectoryListenerReconnectionTestProxy">
        <connection-test:define-proxy-server-port serverPort="${toxiproxy.port}"/>
        <connection-test:create-proxy realPort="2222" realHost="openssh" proxyPort="${connection.lost.port}"/>
    </munit:before-suite>

    <munit:test name="listDirectorySourceWithReconnection" ignore="#[Munit::muleVersionPriorTo('4.1.7')]">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="listenerFlow"/>
        </munit:enable-flow-sources>
        <munit:behavior>
            <set-variable variableName="fileName" value="filePath.txt"/>
        </munit:behavior>
        <munit:execution>
            <sftp:write config-ref="config-with-reconnection-toxi-proxy" path="#[vars.fileName]">
                <sftp:content>test content</sftp:content>
            </sftp:write>

            <munit-tools:dequeue timeout="5" timeoutUnit="SECONDS"/>
            <logger level="INFO" message="#['DEQUEUE ' ++ payload as String]"/>
            <set-variable variableName="testContent1" value="#[payload as String]"/>

            <connection-test:disconnect-proxy proxyPort="${connection.lost.port}"/>
            <flow-ref name="wait-2-seconds"/>
            <connection-test:reconnect-proxy proxyPort="${connection.lost.port}"/>
            <flow-ref name="wait-2-seconds"/>

            <until-successful maxRetries="50" millisBetweenRetries="1000">
                <sftp:write config-ref="config-with-reconnection-toxi-proxy" path="#[vars.fileName]">
                    <sftp:content>test content</sftp:content>
                </sftp:write>
            </until-successful>


            <munit-tools:dequeue timeout="5" timeoutUnit="SECONDS"/>
            <logger level="INFO" message="#['DEQUEUE ' ++ payload as String]"/>
            <set-variable variableName="testContent2" value="#[payload as String]"/>
        </munit:execution>
        <munit:validation>
            <munit-tools:assert-that expression="#[vars.testContent1]" is="#[MunitTools::equalTo('test content')]"/>
            <munit-tools:assert-that expression="#[vars.testContent2]" is="#[MunitTools::equalTo('test content')]"/>
        </munit:validation>
    </munit:test>

    <flow name="listenerFlow">
        <sftp:listener config-ref="config-with-reconnection-toxi-proxy" directory="/app" watermarkEnabled="false">
            <scheduling-strategy>
                <fixed-frequency frequency="500"/>
            </scheduling-strategy>
        </sftp:listener>
        <logger level="INFO" message="#['QUEUE ' ++ payload]"/>
        <munit-tools:queue/>
    </flow>

</mule>
